name: Deploy Site

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          password: ${{ secrets.SSH_PASSWORD }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            echo '${{ secrets.ROOT_PASSWORD }}' | sudo -S su - root <<'EOF'
            export NVM_DIR="/root/.nvm"
            [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh" 
            cd princeofcookies.tech
            git reset --hard HEAD
            git clean -fd 
            git pull
            npm ci
            npm run build
            pm2 restart ${{ secrets.PM2_PROCESS_NAME }}
            EOF
            ${{ secrets.ROOT_PASSWORD }}